body{
    margin: 0;
    padding: 0;
    /* background-image: url(../images/bike-login-bg.png); */
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
    font-family: 'Poppins', sans-serif;
    background-color: var(--danger);
}

:root{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --danger: #ff7782; 
    --gradient:  linear-gradient(45deg, #287bff, #fff);
}

.login-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: .8rem;

    width: 400px;
       
    justify-content: center;

}



.login-form .title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 0 0 20px 0;
}

.login-form form{
    padding: 0 40px;    
    align-items: center;
}

form input{
    width: 70%;
    height: 40px;
    background-color: rgb(209, 209, 209);
    margin-bottom: 10px;
    border-radius: .4rem;
    outline: none;
}

